@import url('https://fonts.googleapis.com/css?family=Play&display=swap');

* {
    font-family: "Play", sans-serif;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

#canvasWrapper {
    text-align: center;
}

.playFont {
    font-family: 'Play', sans-serif;
}

.mainPageBody {
    background: url("../images/background.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.mainPageTitle {
    color: white;
    text-shadow: black -4px 4px 5px;
}

.mainPagePanel {
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: black 0 0 30px;
    padding: 10px;
}

.justify {
    text-align: justify;
}

.flag {
    padding: 2px;
    cursor: pointer;
}

p {
    font-size: large;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: grey;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: grey;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: grey;
}

.blocklySvg {
    background: rgba(255, 255, 255, 0.85);
    /*background: url(../images/background_transparent.jpg);*/
    /*background-size: cover;*/
}

.acceptCodeButton {
    position: fixed;
    top: unset;
    right: 15px;
    bottom: unset;
    margin-bottom: unset;
}

.rejectCodeButton {
    position: fixed;
    right: unset;
    top: unset;
    left: 15px;
    bottom: 15px;
    margin-bottom: unset;
}

th, td {
    text-align: center;
}

#signupForm, #enterNameInstruction, #playAgainHome, #nametag {
    display: none;
}

#loader {
    position: fixed;
    left: 50%;
    top: 40%;
    display: none;
}